<header id="site-header">
  <div class="container">
    <h1>
      <a href="/" title="lorem ipsum">Lorem Ipsum<!-- Kemal Yılmaz --></a>
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit<!-- Hi, I'm Kemal, a front end developer from Istanbul --></p>
    <nav>
      <a href="/" title="back to home page">home</a>
      <a href="{% link _pages/categories.md %}" title="categories">categories</a>
      <a href="{% link _pages/tags.md %}" title="tags">tags</a>
    </nav>
    <hr>
  </div>
</header>