<header id="site-header">
  <div class="container">
    <h1>
      <!-- <a href="/">Kemal Yılmaz</a> -->
      <a href="/" title="lorem ipsum">Lorem ipsum</a>
    </h1>
    <!-- <p>I'm Kemal, front end developer from Istanbul.</p> -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, asperiores!</p>
    <!-- nav -->
    <nav>
      <a href="/" title="back to home page">home</a>
      <a href="https://github.com/xkema" title="xkema on github">github</a>
    </nav>
    <!-- separator -->
    {% include separator-triangle.html %}
  </div>
</header>