<header id="site-header">
  <div class="container">
    <h1>
      <a href="/" title="lorem ipsum">Lorem Ipsum<!-- Kemal Yılmaz --></a>
    </h1>
    <!-- <p>Hi, I'm Kemal, a front end developer from Istanbul</p> -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    <!-- nav -->
    <nav>
      <a href="/" title="back to home page">home</a>
      <a href="https://github.com/xkema" title="xkema on github">github</a>
    </nav>
    <!-- separator -->
    {% include separator-triangle.html %}
  </div>
</header>