/**
 * base customizations
 * -------------------
 */
hr {
  &.tall {
    margin-top: $pad-large;
    margin-bottom: $pad-large;
  }
  &.wide {
    max-width: $ruler-wide;
  }
  &.medium {
    max-width: $ruler-medium;
  }
  &.narrow {
    max-width: $ruler-narrow;
  }
}

/**
 * layout container
 * ----------------
 */
.container {
  max-width: $site-width;
  margin-left: auto;
  margin-right: auto;
}

/**
 * site header
 * -----------
 */
#site-header {
  padding-top: $pad-medium;
  text-align: center;
  h1 {
    font-size: $display-header;
    line-height: 1;
    a {
      text-decoration: inherit;
    }
  }
  .tagline {

  }
  nav {
    a {
      display: inline-block;
      padding: 2px;
    }
  }
}

/**
 * site footer
 * -----------
 */
#site-footer {
  padding-top: $pad-medium;
  padding-bottom: $pad-medium;
  background-color: $color-light;
  text-align: center;
  a {
    display: inline-block;
    padding: 2px;
  }
}

/**
 * post list
 * ---------
 */
 .posts-list { // <ul>
  li {
    display: block;
    margin-bottom: $pad-medium;
  }
  margin: 0;
  padding: 0;
  list-style: none;
  .post { // <article>
    .title { // h1
      margin-top: 0;
      margin-bottom: .5rem;
    }
    .date { // <time>
      font-style: italic;
      font-size: 75%;
    }
    .excerpt { // <p>
      margin-top: .75rem;
      margin-bottom: 0;
    }
  }
 }

/**
 * post
 * ----
 */ 
.post { // <article>
  .title { // h1
    margin: 0;
  }
  .date { // <time>
    font-style: italic;
    font-size: 75%;
  }
  .tags { // <div>
    margin-top: 1rem;
    .tag {
      display: block;
      float: left;
      border-radius: 12px;
      font-size: 75%;
      padding: 1px 8px;
      background-color: $color-dark;
      color: $color-light;
      margin-right: 4px;
      text-decoration: none;
    }
  }
  .content {
    p {
      // @include clearfix();
    }
    img {
      max-width: 100%;
      height: auto;
      // float: left;
    }
  }
}

/**
 * utilities
 * ---------
 */

// clearfix utility from bootstrap
.clearfix {
  @include clearfix();
}

/**
 * media queries
 * -------------
 */

// mobile + tablet
@media (max-width: 768px) {
  hr {
    &.tall {
      margin-top: $pad-medium;
      margin-bottom: $pad-medium;
    }
  }
  .container {
    max-width: 100%;
    padding-left: $pad-small;
    padding-right: $pad-small;
  }
  #site-header {
    padding-top: $pad-small;
    h1 {
      font-size: $display-header-small;
      line-height: 1;
    }
  }
}


































