// layout partial

/**
 * layout container
 */

.container {
  max-width: $site-width;
  margin-left: auto;
  margin-right: auto;
}

/**
 * site header
 */

#site-header {
  padding-top: 5rem;
  // padding-bottom: 5rem;
  text-align: center;
  
  h1 {
    margin-bottom: 0;
    font-size: 4.5rem;

    a {
      text-decoration: none;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  nav {
    a {
      display: inline-block;
      padding: 2px;
    }
  }
}

/**
 * site footer
 */

#site-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $color-light;
  text-align: center;
  
  a {
    display: inline-block;
    padding: 2px;
  }
}

/**
 * homepage posts list
 */

.posts-list { // <ul>
  padding: 0;

  li {
    list-style: none;
    display: block;
  }

  article {
    h1 {
      margin-bottom: 0rem;
    }

    time {
      font-style: italic;
    }

    p {
      margin-top: 1rem;
      color: $color-medium;
    }   
  }
}

/**
 * post content
 */

.post-container {
  .post-title { // <h1>
    margin-bottom: 0rem;
  }

  .post-time {
    font-style: italic;
  }

  .post-tags {
    margin-top: 1rem;
    margin-bottom: 1rem;

    > .tag {
      display: inline-block;
      border-radius: 12px;
      font-size: 12px;
      padding: 1px 8px;
      background-color: $color-dark;
      color: $color-light;
      float: left;
      margin-right: 4px;
      text-decoration: none;
    }
  }

  .post-content {
    p {

    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

/**
 * media queries
 */

// mobile + tablet
@media (max-width: 768px) {
  #site-header {
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: center;
    
    h1 {
      font-size: 3rem;
    }

    p {

    }
  }

  .container {    
    padding-left: 2rem;
    padding-right: 2rem;
  }
}











































