/* custom styles for the theme */

// --- base elements

body {
  overflow-y: scroll;
}

main {
  padding: 1rem 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

// --- site elements

.site-header {
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-lighter-gray);
  h1 {
    margin: 0;
    line-height: 1;
    a {
      color: black;
      text-decoration: none;
    }
  }
  .tagline {
    margin: 0;
    color: var(--color-light-gray);
    margin-top: .125rem;
    margin-bottom: .375rem;
  }
}

.site-nav {
  background-color: var(--color-almost-white);
  padding: 0;
  display: inline-block;
  min-width: 60%;
  border-left: .5rem solid var(--color-lighter-gray);
  .nav-link {
    padding: .5rem .5rem;
    display: inline-block;
    text-decoration: none;
    &.current {
      font-style: italic;
    }
  }
}

.site-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-almost-white);
  border-top: 1px solid var(--color-lighter-gray);
  font-size: 87.5%;
  a {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
  }
}

// --- layout elements

.container {
  max-width: var(--content-width);
  margin: 0 auto;
}

// --- homepage posts list

.posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: block;
    margin-bottom: 1em;
  }
}

// --- post

.post {
  .post-date {
    font-style: italic;
    font-size: 87.5%;
    color: var(--color-light-gray);
    display: inline-block;
    margin-bottom: .25rem;
  }
  .post-title {
    line-height: 1;
  }
  .post-tags {
    display: inline-block;
    margin-bottom: .5rem;
    .post-tag {
      display: block;
      float: left;
      border-radius: 12px;
      font-size: 75%;
      padding: 1px 8px;
      background-color: black;
      color: whitesmoke;
      margin-right: 4px;
      text-decoration: none;
    }
  }
  .post-excerpt {
    margin-bottom: .5rem;
  }
  .post-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

// --- utilities

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 .5rem;
  }
}