/* custom styles for the theme */

// #eee;
// #666;
// #faf8f0;
// #f1ecd9;
// whitesmoke
// black

// base elements
body { overflow: scroll; }
main { padding: 1em 0; }
a { color: royalblue; }
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0));
}

// site elements
.site-header {
  padding: 2em 0 1em;
  h1 {
    margin: 0;
    line-height: 1;
    a {
      color: black;
    }
  }
  .tagline {
    margin: 0 0 .5em;
    color: #999;
  }
}
.site-nav {
  background-color: whitesmoke;
  padding: .375em 0;
  display: inline-block;
  min-width: 50%;
  // border-radius: .25em;
  .nav-link {
    padding: 5px;
    display: inline-block;
    // &.current {}
  }
}
.site-header,
.site-nav,
.site-footer,
.posts-list {
  a { text-decoration: none; }
}
.site-footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: whitesmoke;
  border-top: 1px solid #eee;
  font-size: 87.5%;
  a {
    display: inline-block;
    padding: 2px 4px;
  }
}

// layout elements
.container {
  max-width: 720px;
  margin: 0 auto;
}

// homepage posts list
.posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: block;
    margin-bottom: 1em;
  }
  .post {
    .post-title {
      margin: 0 0 .25em;
    }
    .post-date {
      font-style: italic;
      font-size: 87.5%;
      color: #666;
    }
    .post-excerpt {
      margin-top: .75em;
      margin-bottom: 0;
    }
  }
}

// post  (detail page)
.post {
  .post-title {
    margin: 0 0 .25em;
  }
  .post-date {
    font-style: italic;
    font-size: 87.5%;
    color: #666;
  }
  .post-tags {
    display: block;
    margin: 1em 0;
    .post-tag {
      display: block;
      float: left;
      border-radius: 12px;
      font-size: 75%;
      padding: 1px 8px;
      background-color: black;
      color: whitesmoke;
      margin-right: 4px;
      text-decoration: none;
    }
  }
  .post-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

// utilities
.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@media (max-width: 768px) {
  .site-footer { font-size: 77.77777777777777%; }
  .container { max-width: calc( 100% - 1em ); }
}