/* custom styles for the theme */

// --- base elements

body {
  overflow-y: scroll;
}

main {
  padding: 2rem 0 2rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, silver, transparent);
}

// --- site elements

.site-header {
  background-color: black;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-lighter-gray);
}

.site-nav {
  display: flex;
  flex-direction: row;
  line-height: 1;
  justify-content: space-between;
  .nav-name {
    h1 {
      margin: 0;
      line-height: 1;
      font-weight: 300;
      font-size: 1.5rem;
      a {
        color: var(--color-almost-white);
        text-decoration: none;
        font-weight: inherit;
        display: inline-block;
        line-height: inherit;
      }
    }
    .tagline {
      margin: 0;
      color: var(--color-light-gray);
      line-height: 1;
      font-weight: 300;
    }    
  }
  .nav-main {
    margin-left: -.25rem;
    margin-top: .625rem;
    display: block;
    .nav-link {
      padding: 0 .25rem;
      display: inline-block;
      text-decoration: none;
      font-style: normal;
      &.current {
        font-style: italic;
      }
    }
  }
  .nav-toggle {
    display: none;
  }
  button {
    &.nav-toggle {
      -webkit-appearance: none;
      color: var(--color-light-gray);
      font-family: var(--font-stack-monospace);
      font-size: 87.5%;
      background-color: transparent;
      border: none;
      padding: .5rem .5rem;
      margin: 3px 0 0;
      line-height: 1;
      &:focus {
        outline: solid 1px rgba(218, 165, 32, .25);
      }
      svg {
        display: block;
      }
    }
  }
}

.site-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-almost-white);
  border-top: 1px solid var(--color-lighter-gray);
  font-size: 87.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: inline-block;
    text-decoration: none;
  }
}

// --- layout elements

.container {
  max-width: var(--content-width);
  margin: 0 auto;
}

// --- homepage posts list

.posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: block;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .post {
    .post-title {
      font-size: 1.5rem;
      margin-bottom: .5rem;
      font-weight: normal;
      a {
        text-decoration: none;
        &:focus {
          outline: 1px dotted var(--link-hover-color);
        }
      }
    }
    .post-excerpt {
      margin-bottom: 0;
    }
    &.draft,
    &.unpublished {
      position: relative;
      background-color: lemonchiffon;
      border: 1px solid darkkhaki;
      padding: 0.5rem;
      color: var(--color-mid-gray);
      .post-title {
        a {
          color: inherit;
        }
      }
      &::after {
        font-size: 87.5%;
        position: absolute;
        top: 1px;
        right: 6px;

      }
    }
    &.draft {
      &::after {
        content: "draft";
      }
    }
    &.unpublished {
      &::after {
        content: "unpublished";
      }
    }
  }
}

// --- post

.post {
  .post-date {
    font-style: italic;
    font-size: 87.5%;
    color: var(--color-light-gray);
    display: inline-block;
    margin-bottom: .25rem;
  }
  .post-title {
    line-height: 1;
  }
  .post-tags {
    margin-bottom: 1.5rem;
    .post-tag {
      display: block;
      float: left;
      border-radius: 12px;
      font-size: 75%;
      padding: 1px 8px;
      background-color: black;
      color: var(--color-almost-white);
      margin-right: 4px;
      text-decoration: none;
    }
  }
  .post-excerpt {
    margin-bottom: 1.5rem;
    &.tldr {
      background-color: var(--color-almost-white);
      padding: 1rem;
      border-left: .25rem solid var(--color-light-gray);
      p {
        margin-bottom: 0;
        color: var(--color-mid-gray);
      }
    }
  }
  .post-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  // auto-generated anchors for headers
  .heading-anchor {
    .heading-anchor-link {
      background-color: transparent;
      float: left;
      text-decoration: none;
      padding: 0 5px;
      line-height: 1;
      margin-left: -26px; // 16px svg width + 2 side padding
      svg {
        vertical-align: middle;
        visibility: hidden;
      }
    }
    &:hover {
      .heading-anchor-link {
        svg {
          visibility: visible;
        }
      }
    }
  }
}

.layout-post {
  .post {
    &::after {
      content: "\00220e";
      color: black;
      display: block;
      text-align: center;
    }
  }
}

// --- page

.page {
  .page-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

// --- utilities

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// --- components

.notification {
  padding: 2rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  &.warning {
    background-color: lemonchiffon;
    border: 1px solid darkkhaki;
  }
  &.error {
    background-color: mistyrose;
    border: 1px solid pink;
  }
}


@media (max-width: 768px) {
  .post-content,
  .page-content,
  .post-excerpt {
    font-size: 1.125rem;
  }

  .post-content,
  .page-content {
    img {
      display: block;
      margin: 0 auto;
    }
    p {
      overflow-wrap: break-word;
    }
    table {
      font-size: 1rem;
      display: block; // make tables overflow-able
      overflow: auto;
    }
  }

  .site-nav {
    .nav-main {
      display: none;
    }
    .nav-toggle {
      display: block;
      .close {
        display: none;
      }
    }
    &.expanded {
      .nav-main {
        display: block;
      }
      .nav-toggle {
        .burger {
          display: none;
        }
        .close {
          display: block;
        }
      }
    }
  }

  .container {
    padding: 0 1rem;
  }

  blockquote {
    margin: 1rem 0 1rem 1px;
    padding: 0 1rem;
  }
}