---
layout: default
---

{% if page.draft %}
<div class="notification warning">This is a <b>draft</b> post, It'll only be visible on development environment.</div>
{% elsif page.published == false %}
<div class="notification warning">This post <b>unpublished</b>. It'll only be visible on development environment. Change front matter <code>published: false</code> flag to true to publish it.</div>
{% endif %}

<article class="post">
  <time class="post-date" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
  <h1 class="post-title" id="post-title">{{ page.title }}</h1>
  {% if page.tags.size > 0 %}
  <div class="post-tags clearfix">
    {% for tag in page.tags %}
    <span class="post-tag">{{ tag | slugify: "latin" }}</span>
    {% endfor %}
  </div>
  {% endif %}
  {% assign excerpt_stripped = page.excerpt | strip | strip_html %}
  {% if excerpt_stripped != "" %}
  <div class="post-excerpt tldr">
    <p>{{ page.excerpt  | truncatewords: 100 }}</p>
  </div>
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>
</article>